:root
{
    --green: #517C50;
    --pink: #FAD4D8;
}

body
{
    background-color: var(--pink);
    color: #546A76;
}

header
{
    display: block;
    text-align: center;
    padding: 15px;
    border: #88A0A8 solid 5px;
    background-color: var(--pink);
}

main
{
    background-color: var(--pink);
    color: var(--green);
    font-size: 25px;
}

footer
{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--green);
    margin-top: 30px;
    background-color: lightgray;
}

a:visited
{
    color: #88A0A8
}

a:hover
{
    color: #fbf7f5
}

a:active
{
    color: #fbf7f5
}

img
{
    max-width: 50%;
    max-height: 50%;
}

#intro-centered
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p
{
    margin: 4px;
}

table, th, td
{
    border: 3px solid var(--green);
}

table
{
    border-collapse: collapse;
}

td
{
    padding: 25px;
    text-align: center;
    vertical-align: center;
}

figure
{
    margin-left: 0px;
}

figure table tr:nth-child(odd)
{
    background-color: lightgrey;
}

figure table tr:first-of-type
{
    background-color: lightsalmon;
}

.category
{
    background-color: var(--pink);
}

form input:nth-of-type(-n+3)
{
    background-color: var(--pink);
    border: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

/* MOBILE RULES */
/* Remove Initial */
html, body {
    all:initial;
    background-color: var(--pink);
}
/* Foundational Three */
main {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color: var(--pink);
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color: var(--pink);
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color: var(--pink);
    }
}
