<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <nav>
            <p> Designed by <a href="./jothorndevs.com/">Jothorn Developments</a>©
                <em>Certified in <a href="https://www.freecodecamp.org/certification/thorntonjb/responsive-web-design">Responsive Web Design</a></em>.
            </p>
            <p>Janky Tetra. For the Anti-Paper Paper Product!</p>

            <span>
                <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
                    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
                </a>

                <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
                    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
                </a>

                <script>
                  document.getElementById("validation-link-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
                  document.getElementById("validation-link-css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
                </script>
            </span>
        </nav>
    </body>
</html>
