<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>HISTORY OF ÉL CLASICO</h1>
        <nav>
            <a href="./index.html"><button> Él Clasico Home </button>§</a>
            <a href="./fc-barcelona-overview.html"><button> FC Barcelona Home </button>§</a>
            <a href="./real-madrid-overview.html"><button> Real Madrid Home </button>§</a>
            <a href="./both-statistics.html"><button> Statistics </button>§</a>
            <a href="./el-clasico-history.html"><button> History </button>§</a>
            <a href="./teams-top-players.html"><button> Top Players </button>§</a>
            <a href="../project_overview.html"><button> Project Overview </button>§</a>
            <a href="../index.html"><button> ITIS3135 HOME </button></a>
        </nav>
    </body>
</html>
